<div class="bg-body-secondary rounded p-5">
  <h1 class="display-6 fw-bold" style="font-size: 4em;"> Blog-app </h1>
  <p class="lead">Esse é um blog desenvolvido com Node.js + Express + MongoDB.</p>
  {{#if user}}
  {{else}}
  <hr class="my-4">
  <p>Aqui você vai poder ler sobre as novidades do mundo da computação.</p>
  <p class="lead">
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma conta</a>
  </p>
  {{/if}}
</div>

<hr>
<h2 class="display-6">Postagens recentes</h2>

{{#each postagens}}
<div class="card mt-4 mb-4">
  <div class="card-body">
    <h3>{{titulo}}</h3>
    <p>{{descricao}}</p>
    <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
    <hr>
    <small>Categoria: {{categoria.nome}}</small><br>
    <small>Publicado: {{formatDate date}}</small>
  </div>
</div>

{{else}}
<div class="card">
  <div class="card-body">
    <h3>Nenhuma postagem</h3>
  </div>
</div>
{{/each}}