
<h1 class="display-6">{{categoria.nome}}</h1>

{{#each postagens}}
<div class="card mt-4">
  <div class="card-body">
    <h3>{{titulo}}</h3>
    <p>{{descricao}}</p>
    <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
    <hr>
    <small>Publicado: {{formatDate date}}</small>
  </div>
</div>

{{else}}
<div class="card">
  <div class="card-body">
    <h3>Nenhuma postagem</h3>
  </div>
</div>
{{/each}}